
body {
    
    height: 300px; 
    font-family: Roboto, Arial;
    background-color: #e0e5fae2;
      }

 .container {
    
   background-color: #e0e5fae2;
   position: relative;
   margin-left: px;
   
    margin-left: 750px;
    
    
}          

     .simple-todo { 
      background-color: #f9f8fb;
      width: 550px;
      border: 2px solid rgb(212, 207, 207);
      
      margin-left: 175px;
        margin-top: px;
        position: absolute;
     }

     .tasks-wrapper {
      background-color: #f9f8fb;             
     }

     
      h2 {
       width: 500px;
       font-size: 50px;
       background: #a35bde;
        border-radius: 7px;
        color: white;
       padding: 10px 28px;
        font-weight: normal;
        position:  absolute;
        margin-top: -120px; 
        text-align: center 
        
        }

    li {
        
        margin-top: 0px;
        padding: 10px 28px;
        margin-bottom: 0px;
        position: ;
        font-size: 25px;
        border-bottom: solid 1px rgb(224, 220, 220);
        width: ;
        margin-left: -40px;
    }   
   
    ul {
      margin-bottom: 0px;
      margin-top: 0px;         
      
    } 
    
  
  input {
    font-size: 25px;
    margin-top: 0px;
    padding: 10px 28px;
    margin-bottom: 0px;
    border: solid 1px grey;
    border: 0px;;
        }

    form { 
  
      background-color: #f9f8fb;    
      border-bottom: solid 1px rgb(224, 223, 223);
 
    }

    button {
      font-size: 40px;
      color: white;
      width: 54px;
      height: 54px;
      border-radius: 27px ;
      border:  #a35bde;;
      margin-top: 1px;
      margin-bottom: 0px;
      background-color: #a35bde;
      margin-left: 80px;
      

    }
    

    .simple-todo {
        background-color: #e0e5fae2;
        margin-bottom: -100px;
    }
 
       
    
.triangle-bottom-left {
  width: 0;
  height: 0;
  border-bottom: 1000px solid #a35bde;
  border-right: 2000px solid transparent;
  margin-top: 200px;
}
